.navbar {
    background-color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: deepskyblue;
    border: solid 1px deepskyblue;
    padding: 14px;
    margin: 1em 1em;
    font-weight: bold;
}

a,
.navbar .navbar-header > a,
.navbar-collapse .nav > li > a {
    color: deepskyblue;
}

a:hover,
.navbar .navbar-header > a:hover,
.navbar-collapse .nav > li > a:hover {
    color: #d3d3d3;
    text-decoration: none;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: deepskyblue; !important;
    color: deepskyblue; !important;
}

.navbar-inverse .navbar-toggle {
    border: 1px solid deepskyblue; !important;
}

@media(max-width: 767px){
    .navbar .navbar-header .navbar-brand {
        font-size: 16px;
        font-weight: bold;
    }
}